<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>PkNSmZV1LmBihI9gnlVdM6zjakiDEiJFp6qlOulq4MjdVMuXxaXrbz3YWUomDJ6Vo0jbGD9/CvnCdkGoICydw+fcJUj+/dBoDLZREXej/8+34LpcyPxxi0HU90yWq2Fi3uNdROSMl87BhD83aqFhPxhd5f2E0uPv7kupMK/3DsU=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>3y8ZLit8kUPVNoa/vFD6euRO63XlY1t/Z5PMqAjfIFBjSOlNFs7Cdrvv8Z8f+g3p6VMuYsfA2cU7LVrgvv9lvbzxuMVKU/C3mj2ero/hk/Q/L4IY65sinbmjNsQzzimRAsnCg+f0VOVUIbu1IuBylowHQfs/7IZ3ySLVyb3kjMyKOBWfOtqRet0/MJzno/Nm0JbpwFa0+8JM/10XeniPLhEI23YYb+tVUpC0y3ThAh6sKrdTHCf8MJ6RkTDhoBYSUN+kTvK3NuJUQnHos69A9oFkcEyGz+ZDeXWLxWKW68EuiBW2hGJ+xvlu7h0cXGKCm5a4Nr1nbtLv325inAg+MHmnUmmygmc4vDiicDZGr0mpjtzrBVnGHA==</CipherValue>
            </CipherData>
        </EncryptedData>
    </appSettings>
</configuration>